{% extends "base.html" %}


{% block app_content %}
    <h1>{{ 'Wikipedia-tekstejä' }}</h1>
    <p>
    {{ 'Tälle sivulle tulee sattumanvaraisesti tiivistelmä 
    joltakin muutamista Wikipedia-sivuista.' }}
    </p>
    <h2>{{ heading }}</h2>
    <p>{{ summary }}</p>
    <div>
        <img src="{{ image }}" style="width:100%;max-width: 400px;height:auto"; alt="Sattumanvarainen kuva Wikipedia-sivulta"></div>
    {{ image }}
    <p></p>

    <p><a href="https://fi.wikipedia.org/wiki/{{topic}}">Täältä</a> voit lukea koko artikkelin.</p>


{% endblock %}