{% extends "base.html" %}

{% block app_content %}

<h1>Päivittäisten ravinteiden optimointi</h1>
<p>Määritä tähän, mitä haluat tänään syödä (tai olet jo syönyt), niin algoritmi laskee, mitä tarvitset sen lisäksi, jotta saat päivittäiset saantisuositukset täytettyä mahdollisin vähin kalorein.</p>
<p><strong>Huomautus:</strong> Tämä sivu on työn alla eikä algoritmi ole vielä valmis.</p>
<p>Ruokien ravintosisällöt ovat peräisin Terveyden ja hyvinvoinnin laitoksen Fineli-tietokannan versiosta 20.</p>
<div class="row">
    <div class="col-md-5">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.food.label }}<br>
                {{ form.food(type="text", id="autocomplete_food", class="form-control") }}
                {% for error in form.food.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
           <p>
                {{ form.amount.label }}<br>
                {{ form.amount(class="form-control") }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        </div>
    </div>
    <br>
{% if data_given %}
    <div>
        {{ data_given[1] }} grammaa ruokaa {{ data_given[2] }}</br>
        Päivittäinen saantisuositus: </br>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script type="text/javascript">
$(function() {
    $("#autocomplete_food").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('main.autocomplete_food')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value);
        }
    });
})

</script>
{% endblock %}